.cardBody {
  span {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.1px;
  }
}
.avatarInfo {
  width: 33%;
  float: left;
  height: 80px;
}
