.cardItem {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nameItem {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.avatarInfo {
  width: 33%;
  float: left;
  height: 80px;
}
