.taskCard {
  background-color: #364d79;
  color: white;
  span {
    color: white;
  }
  margin-top: '-10px';
}
.cardLeftMover {
  position: absolute;
  margin-top: -126px;
  z-index: 2;
}
.cardRightMover {
  position: absolute;
  margin-left: 840px;
  margin-top: -126px;
  z-index: 2;
}
