.taskCard {
  background-color: #364d79;
  color: white;
  span {
    color: white;
  }
  margin-top: '-10px';
}
.cardLeftMover {
  position: absolute;
  margin-top: -126px;
  z-index: 2;
}
.cardRightMover {
  position: absolute;
  margin-left: 840px;
  margin-top: -126px;
  z-index: 2;
}
.wordWriedCard {
  margin-top: 6px;
  .workList {
    &:not(:last-child) {
      border-right: 1px solid #000;
    }
  }
}
